@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 100%;
  background-color: #070707;
  color: #a074ff;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-size: 1em;
  gap: 20px 30px;
}
.cabecalho {
  display: flex;
}

.cabecalho-menu {
  display: flex;
  justify-content: space-between;
  color: #a074ff;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  gap: 20px 30px;
  border-bottom: 0.4px solid #fff2e7;
  padding: 0px 540px;
}

#check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

fieldset {
  border: 0;
}

input,
select,
textarea,
button {
  font-family: "League Spartan", sans-serif;
  font-size: 1em;
  color: #a074ff;
  border-radius: 5px;
}

.grupo:before,
.grupo:after {
  display: table;
  gap: 26px;
}

.grupo:after {
  clear: both;
}

.campo {
  margin-bottom: 1em;
}

.campo label {
  margin-bottom: 0.2em;
  color: #59429d;
  display: block;
}

fieldset.grupo .campo {
  float: left;
  margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo select,
.campo textarea {
  padding: 0.2em;
  border: 1px solid #59429d;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
}

.campo select option {
  padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
  background: #e0e0f8;
}

.botao {
  font-size: 1.2em;
  background: #a074ff;
  border: 0;
  margin-bottom: 1em;
  color: #ffffff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 97%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.botao:hover {
  background: #ccbbff;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

.botao,
select {
  cursor: pointer;
}
